<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.solo.board.domain" />
        <package name="org.solo.member.domain" />
        <package name="org.solo.news.domain" />
        <package name="org.solo.policy.domain" />
        <package name="org.solo.asset.domain" />
        <package name="org.solo.mypage.domain" />
<!--        추가하면 됨.-->
    </typeAliases>

</configuration>
