<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solo.board.mapper.BoardMapper">
    <insert id="create">
        INSERT INTO `board`(title, content, userName)
        VALUES (#{title}, #{content}, #{userName})
        <selectKey resultType="Long" keyProperty="boardNo" keyColumn="boardNo" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE `board`
        SET title = #{title}, content = #{content}, userName = #{userName}, updateDate = now()
        WHERE boardNo = #{boardNo}
    </update>
    <update id="upCommentCnt">
        UPDATE `board`
        SET comments = comments + 1
        WHERE boardNo = #{boardNo}
    </update>
    <update id="upViewCnt">
        UPDATE `board`
        SET views = views + 1
        WHERE boardNo = #{boardNo}
    </update>
    <update id="upLikeCnt">
        UPDATE `board`
        SET `likes` = `likes` + 1
        WHERE `boardNo` = #{boardNo}
    </update>

    <update id="bestBoardPointUp">
        UPDATE `user`
        SET `point` = `point` + 100
        WHERE `userName` = #{userName}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM `board`
        WHERE boardNo = #{boardNo}
    </delete>

    <select id="getTotalCnt" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `board`
    </select>

    <select id="getTotalCntByKeyword" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `board`
        WHERE #{category} LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="getBest" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        WHERE (YEAR(regDate) = YEAR(CURDATE()) AND MONTH(regDate) = MONTH(CURDATE()) - 1)
           OR (YEAR(regDate) = YEAR(CURDATE()) AND MONTH(regDate) = MONTH(CURDATE()))
           OR (MONTH(CURDATE()) = 1 AND YEAR(regDate) = YEAR(CURDATE()) - 1 AND MONTH(regDate) = 12)
        ORDER BY (views * 0.2 + comments * 0.4 + likes * 0.4) DESC
            LIMIT 5;
    </select>

    <select id="getBoardsByPageOrderByregDate" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        ORDER BY regDate DESC
            LIMIT #{offset}, #{limit}
    </select>
    <select id="getBoardsByPageOrderBylike" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        ORDER BY likes DESC
            LIMIT #{offset}, #{limit}
    </select>
    <select id="getBoardsByPageOrderByview" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        ORDER BY views DESC
            LIMIT #{offset}, #{limit}
    </select>
    <select id="getBoardsByPageOrderBycomment" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        ORDER BY comments DESC
            LIMIT #{offset}, #{limit}
    </select>

    <select id="getBoardsByPageAndKeywordOrderByregDate" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        WHERE
        <choose>
            <when test="category == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'content'">
                content LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'userName'">
                userName LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        ORDER BY regDate DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getBoardsByPageAndKeywordOrderBylike" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        WHERE
        <choose>
            <when test="category == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'content'">
                content LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'userName'">
                userName LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        ORDER BY likes DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="getBoardsByPageAndKeywordOrderByview" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        WHERE
        <choose>
            <when test="category == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'content'">
                content LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'userName'">
                userName LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        ORDER BY views DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="getBoardsByPageAndKeywordOrderBycomment" resultType="org.solo.board.domain.BoardVO">
        SELECT *
        FROM `board`
        WHERE
        <choose>
            <when test="category == 'title'">
                title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'content'">
                content LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == 'userName'">
                userName LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <otherwise>
                1 = 1
            </otherwise>
        </choose>
        ORDER BY comments DESC
        LIMIT #{offset}, #{limit}
    </select>

    <resultMap id="boardMap" type="org.solo.board.domain.BoardVO">
        <id property="boardNo" column="boardNo"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userName" column="userName"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="likes" column="likes"/>
        <result property="comments" column="comments"/>
        <result property="views" column="views"/>

        <collection property="attaches" ofType="org.solo.board.domain.BoardAttachmentVO">
            <result property="attachmentNo" column="attachmentNo"/>
            <result property="bno" column="bno"/>
            <result property="filename" column="filename"/>
            <result property="path" column="path"/>
            <result property="contentType" column="contentType"/>
            <result property="size" column="size"/>
            <result property="regDate" column="a_regDate"/>
        </collection>
    </resultMap>

    <select id="get" resultMap="boardMap">
        SELECT b.*, a.attachmentNo, a.bno, a.filename, a.contentType, a.path, a.size, a.regDate as a_regDate
        FROM `board` b
            LEFT OUTER JOIN `boardAttachment` a
            ON b.boardNo = a.bno
        WHERE b.boardNo = #{boardNo}
        ORDER BY filename
    </select>

    <select id="getAttachmentList" resultType="org.solo.board.domain.BoardAttachmentVO">
        SELECT *
        FROM `boardAttachment`
        WHERE bno = #{bno}
        ORDER BY filename
    </select>

    <select id="getAttachment" resultType="org.solo.board.domain.BoardAttachmentVO">
        SELECT *
        FROM `boardAttachment`
        WHERE attachmentNo = #{attachmentNo}
    </select>

    <insert id="createAttachment">
        INSERT INTO `boardAttachment`(filename, path, contentType, size, bno)
        VALUES (#{filename}, #{path}, #{contentType}, #{size}, #{bno})
    </insert>

    <delete id="deleteAttachment">
        DELETE
        FROM `boardAttachment`
        WHERE attachmentNo = #{attachmentNo}
    </delete>

    <select id="getComments" resultType="org.solo.board.domain.CommentVO">
        SELECT *
        FROM `comment`
        WHERE boardNo = #{boardNo}
    </select>

    <select id="likeCheck" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `like`
        WHERE userName = #{userName} AND boardNo = #{boardNo}
    </select>

    <select id="mine" resultType="org.solo.board.domain.BoardVO">
        SELECT boardNo, title, content, updateDate, likes, comments, views
        FROM `board`
        WHERE userName = #{userName}
        ORDER BY regDate DESC
    </select>

    <insert id="createComment">
        INSERT INTO `comment`(boardNo, userName, commentText, regDate)
        VALUES (#{boardNo}, #{userName}, #{commentText}, now())
    </insert>
    <insert id="likeUpdate">
        INSERT INTO `like`(boardNo, userName)
        VALUES (#{boardNo}, #{userName})
    </insert>
</mapper>
