<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solo.board.mapper.BoardMapper">
    <!-- 조회 -->
    <select id="getList" resultType="BoardVO" >
        <![CDATA[
        select * from board
        order by boardNo desc
        ]]>
    </select>

    <!--    <select id="get" resultType="BoardVO">-->
    <!--        select * from board where boardNo = #{boardNo}-->
    <!--    </select>-->
    <select id="get" resultMap="boardMap">
        SELECT b.*, ba.no as baNo, ba.boardNo, ba.filename, ba.path, ba.content_type, ba.size, ba.reg_date as ba_reg_date
        FROM board b left outer join board_attachment ba
                                     on b.boardNo = ba.boardNo
        where b.boardNo = 23
        order by filename
    </select>

    <!-- 생성 -->
    <insert id="create">
        insert into board (title, content, userID, likes, views)
        values (#{title}, #{content}, #{userID}, #{likes}, #{views})

        <selectKey resultType="Long" keyProperty="boardNo" keyColumn="boardNo" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 수정 -->
    <update id="update">
        update board set
             title = #{title},
             content = #{content},
             userID = #{userID},
             modDate = now(),
             likes = #{likes},
             views = #{views}
        where boardNo = #{boardNo}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        delete from board where boardNo = #{boardNo}
    </delete>

    <insert id="createAttachment">
        insert into board_attachment(filename, path, content_type, size, boardNo)
        values(#{filename}, #{path}, #{contentType}, #{size}, #{boardNo})
    </insert>

    <select id="getAttachmentList" resultType="BoardAttachmentVO">
        select * from board_attachment
        where boardNo = #{boardNo}
        order by filename
    </select>

    <select id="getAttachment" resultType="BoardAttachmentVO">
        select * from board_attachment
        where no = #{no}
    </select>

    <delete id="deleteAttachment">
        delete from board_attachment
        where no = #{no}
    </delete>

    <delete id="deleteAttachment_bno">
        delete from board_attachment
        where boardNo = #{boardNo}
    </delete>

    <!-- join 처리-->
    <resultMap id="attachmentMap" type="BoardAttachmentVO">
        <id column="ano"                property="no" />
        <result column="board_no"       property="boardNo"/>
        <result column="filename"       property="filename"/>
        <result column="path"           property="path" />
        <result column="content_type"   property="contentType"/>
        <result column="size"           property="size"/>
        <result column="a_reg_date"     property="regDate"/>
    </resultMap>

    <resultMap id="boardMap" type="BoardVO">
        <id column="board_no"           property="boardNo"/>
        <result column="title"          property="title"/>
        <result column="content"        property="content"/>
        <result column="user_id"        property="userID"/>
        <result column="reg_date"       property="regDate"/>
        <result column="mod_date"       property="modDate"/>
        <result column="likes"          property="likes"/>
        <result column="views"          property="views"/>

        <collection property="attaches" resultMap="attachmentMap"/>
    </resultMap>

</mapper>