<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.solo.mypage.mapper.MypageMapper">

    <!-- 자산 데이터 조회 -->
    <select id="getAssetData" parameterType="String" resultType="org.solo.asset.domain.AssetVO">
        SELECT
            userId,cashBank,cashAccount,cash,stockBank,stockAccount,stock,
            depositBank,depositAccount,deposit,
            insuranceCompany,insuranceName,insurance,
            loanAmount,loanPurpose,period,interest,createDate
        FROM userAsset
        WHERE userId = #{userId}
            AND MONTH(createDate) = MONTH(CURRENT_DATE)
          AND YEAR(createDate) = YEAR(CURRENT_DATE)
            LIMIT 1
    </select>

<!--    자산데이터저장-->
    <update id="updateAsset" parameterType="org.solo.asset.domain.AssetVO">
        UPDATE userAsset
        SET
            cashBank = #{cashBank},
            cashAccount = #{cashAccount},
            cash = #{cash},
            stockBank = #{stockBank},
            stockAccount = #{stockAccount},
            stock = #{stock},
            depositBank = #{depositBank},
            depositAccount = #{depositAccount},
            deposit = #{deposit},
            insuranceCompany = #{insuranceCompany},
            insuranceName = #{insuranceName},
            insurance = #{insurance},
            loanAmount = #{loanAmount},
            loanPurpose = #{loanPurpose},
            period = #{period},
            interest = #{interest}
        WHERE userId = #{userId};
    </update>

    <insert id="insertAssetData" parameterType="org.solo.asset.domain.AssetVO">
        INSERT INTO userAsset (userId, cash, stock, property, deposit, consume, loanAmount, loanPurpose, period)
        VALUES (#{userId}, #{cash}, #{stock}, #{property}, #{deposit}, #{consume}, #{loanAmount}, #{loanPurpose},#{period})
    </insert>

    <select id="findAssetData" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM userAsset
        WHERE userId = #{userId}
    </select>

    <select id="checkAssetData" parameterType="java.lang.String" resultType="org.solo.asset.domain.AssetVO">
        SELECT * FROM userAsset WHERE userId = #{userId}
    </select>

    <update id="updateAssetData" parameterType="org.solo.asset.domain.AssetVO">
        UPDATE userAsset
        SET cash = #{cash},
        stock = #{stock},
        property = #{property},
        deposit = #{deposit},
        consume = #{consume},
        loanAmount = #{loanAmount},
        loanPurpose = #{loanPurpose},
        period = #{period}
        WHERE userId = #{userId}
    </update>


<!--    point -->
    <select id="getPoint" parameterType="String" resultType="int">
        select point
        FROM user
        WHERE userId = #{userId}
    </select>


    <update id="updateUserType" parameterType="map">
        UPDATE userAsset
        SET type = #{type}
        WHERE userId = #{userId}
    </update>


    <!--
    <update id="updateCash" parameterType="map">
        UPDATE userAsset
        SET cash = #{updatedCash}
        WHERE userId = #{userId}
    </update>

    -->

<!--
    <update id="updateMember" parameterType="org.solo.member.domain.MemberVO">
        UPDATE user
        SET email = #{email}
        WHERE userId = #{userId}
    </update>


-->


</mapper>