<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solo.news.mapper.NewsMapper">

    <insert id="insertNews" parameterType="java.util.List">
        INSERT INTO news (newsNo, title, link, category, pubDate)
        VALUES
        <foreach collection="list" item="news" separator=",">
            (#{news.newsNo}, #{news.title}, #{news.link}, #{news.category}, #{news.pubDate})
        </foreach>
    </insert>

    <select id="getNewsByNo" parameterType="int" resultType="NewsVO">
        SELECT * FROM news WHERE newsNo = #{no}
    </select>

        <select id="getNewsBycategory" resultType="org.solo.news.domain.NewsVO">
            SELECT *
            FROM news
            WHERE category = #{category} OR #{category} IS NULL
            ORDER BY pubDate DESC
            LIMIT #{offset}, #{limit}
        </select>

    <select id="getNewsCountBycategory" resultType="java.lang.Integer">
        SELECT count(*)
        FROM news
        WHERE (category = #{category} OR #{category} IS NULL);
    </select>


    <select id="getNewsByPage" resultType="org.solo.news.domain.NewsVO">
        SELECT *
        FROM news
        ORDER BY pubDate DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="getNewsCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM news
    </select>





</mapper>