<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solo.product.mapper.ProductMapper">
    <insert id="fetchProducts" parameterType="org.solo.product.domain.ProductVO">
        INSERT INTO product (dclsMonth, finCoNo, korCoNm, finPrdtCd, finPrdtNm, joinWay, mtrtInt, spclCnd, joinMember, etcNote, type)
        VALUES (#{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtCd}, #{finPrdtNm}, #{joinWay}, #{mtrtInt}, #{spclCnd}, #{joinMember}, #{etcNote}, #{type})
    </insert>

    <insert id="fetchOptions" parameterType="org.solo.product.domain.OptionVO">
        INSERT INTO `option` (dclsMonth, finCoNo, finPrdtCd, saveTrm, intrRate, intrRate2, type)
        VALUES (#{dclsMonth}, #{finCoNo}, #{finPrdtCd}, #{saveTrm}, #{intrRate}, #{intrRate2}, #{type})
    </insert>

    <select id="findByToken" parameterType="map" resultType="java.lang.Integer">
        SELECT count(*)
        FROM product
        WHERE finPrdtNm = #{finPrdtNm}
          AND mtrtInt = #{mtrtInt}
          AND etcNote = #{etcNote}
          AND type = #{type}
    </select>

    <select id="findByOptionToken" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `option`
        WHERE dclsMonth = #{dclsMonth}
          AND finCoNo = #{finCoNo}
          AND finPrdtCd = #{finPrdtCd}
          AND saveTrm = #{saveTrm}
    </select>

    <select id="getKbProducts" resultType="org.solo.product.domain.ProductVO">
        SELECT *
        FROM product
        WHERE korCoNm LIKE '%국민%'
    </select>
    <select id="getTotalCnt" resultType="java.lang.Integer">
        SELECT count(*)
        FROM product
    </select>
    <select id="getTotalCntByKeyword" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)
        FROM product
        WHERE korCoNm LIKE CONCAT('%', #{keyword}, '%')
           OR finPrdtNm LIKE CONCAT('%', #{keyword}, '%')
           OR mtrtInt LIKE CONCAT('%', #{keyword}, '%')
           OR spclCnd LIKE CONCAT('%', #{keyword}, '%')
    </select>
    <select id="getProductsByPage" resultType="org.solo.product.domain.ProductVO">
        SELECT *
        FROM product LIMIT #{offset}, #{limit}
    </select>
    <select id="getProductsByPageAndKeyword" resultType="org.solo.product.domain.ProductVO">
        SELECT *
        FROM product
        WHERE korCoNm LIKE CONCAT('%', #{keyword}, '%')
           OR finPrdtNm LIKE CONCAT('%', #{keyword}, '%')
           OR mtrtInt LIKE CONCAT('%', #{keyword}, '%')
           OR spclCnd LIKE CONCAT('%', #{keyword}, '%')
            LIMIT #{offset}, #{limit}
    </select>
    <select id="getOption" resultType="org.solo.product.domain.OptionVO">
        SELECT dclsMonth, finCoNo, finPrdtCd, saveTrm, intrRate, intrRate2, type
        FROM `option`
        WHERE finPrdtCd = #{finPrdtCd}
    </select>

    <select id="getRecommend" resultType="org.solo.product.domain.ProductVO">
        SELECT p.*, o.intrRate, o.intrRate2, o.saveTrm
        FROM product p
                 JOIN `option` o ON p.finPrdtCd = o.finPrdtCd
        WHERE CAST(o.saveTrm AS UNSIGNED) &lt; #{period}
        ORDER BY GREATEST(o.intrRate, o.intrRate2) DESC
            LIMIT 2
    </select>

<!--    <select id="getRecommend" resultType="org.solo.product.domain.ProductVO">-->
<!--        SELECT p.*-->
<!--        FROM `product` p-->
<!--                 JOIN (-->
<!--            SELECT finPrdtCd, saveTrm, intrRate, intrRate2-->
<!--            FROM `option`-->
<!--            WHERE saveTrm &lt; (select period from userAsset where userId = #{userId} order by createDate desc limit 1)-->
<!--        ORDER BY intrRate DESC-->
<!--            LIMIT 2-->
<!--        ) o ON p.finPrdtCd = o.finPrdtCd;-->
<!--    </select>-->

    <select id="haveLoan" resultType="java.lang.Integer">
        SELECT CASE
                   WHEN loanAmount IS NULL THEN 0
                   ELSE 1
                   END AS loanAmount_status
        FROM `userAsset`
        WHERE userId = #{userId}
        ORDER BY createDate DESC LIMIT 1;
    </select>

    <select id="getKbRand" resultType="org.solo.product.domain.ProductVO">
        SELECT *
        FROM `product`
        WHERE finCoNo = '0010927'
        ORDER BY RAND() LIMIT 2;
    </select>


</mapper>